.create-post {
    /* padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center; */
    display: table-caption;
    margin-right: 1rem;
}
/* 
.input-form {
    margin-left: 1rem;
} */